body {
    top: 0;
    margin: 0;
    justify-content: start;
    align-items: start;
    background-color: #F9ECBF ;
}

#first-section {
    background-image: url(haruki2.jpg);
    height: 1000px;
    background-repeat: no-repeat;
    background-size: auto;
    background-position-x: 100%;
}

nav {
    background-color: darkslateblue;
    display: flex;
    justify-content: end;
}

nav ul {
    border-bottom: 4px solid black;
    padding: 0 30px;
    position: fixed;
    z-index: 1000;
}

nav li {
    display: inline-block;
    margin-top: 20px;
    margin-left: 20px;
}

nav li a {
    background-color: #ff6347;
    color: rgb(15, 15, 14);
    text-decoration: none;
    justify-content: space-between;
    font-size: 20px;
    border: 3px solid #000;
    border-radius: 10px;
}

nav li a::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 2px;
    background-color: #ff6347; 
    transition: width 0.3s;
}

nav li a:hover {
    color:#1D181C;
    background-color: rgba(138, 39, 39, 0.1); 
    transform: scale(1.1); 
}

#citation {
    margin-left: 1050px;
    margin-top: 375px;
    text-align: center;
    justify-content: center;
    display: start;
    font-family:'Times New Roman', Times, serif;
    font-size: large;
    font-weight: bold;
    line-height: 1.6;
    padding: 20px;
    background-color: #F7EFBE;
    border-radius: 8px; 
    color: #1D181C;
    text-transform: uppercase;
    text-shadow: 0 0 10px rgba(255, 255, 255, 0.8), 0 0 20px rgba(173, 216, 230, 0.5), 0 0 30px rgba(0, 0, 255, 0.8);
    animation: flicker 2s infinite;
    position: static;
}


#bookcase {
    justify-content: end;
    display: flexbox;
    margin-left: 1170px;
}

#bookcase li {
    display: inline-block;
    justify-content: space-between;
    margin-left: 40px;
}

.card1 {
    background-image: url(book1.jpg);
    background-size: cover;
    width: 150px;
    height: 230px;
    border-radius: 8px;
}

.card2 {
    background-image: url(book2.jpg);
    background-size: cover;
    width: 150px;
    height: 230px;
    border-radius: 8px;
}

.card3 {
    background-image: url(book3.jpg);
    background-size: cover;
    width: 150px;
    height: 230px;
    border-radius: 8px;
}

#second-section {
    background-color: rgb(130, 138, 115);
    height: 1000px;
}

#biopic {
    margin-top: 50px;
    margin-left: 775px;
    width: 350px;
    height: auto;
}

.container {
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    margin-top: 25px;
}

.p-column {
    text-align: center;
    justify-content: center;
    align-items: center;
}

.p-header1 {
    padding-bottom: 10px;
    font-weight: 700;
    font-size: 20px;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.p-header2 {
    padding-bottom: 10px;
    font-weight: 700;
    font-size: 20px;
    align-items: center;
    justify-content: center;
    text-align: center;
}


.p-header3 {
    padding-bottom: 10px;
    font-weight: 700;
    font-size: 20px;
    align-items: center;
    justify-content: center;
    text-align: center;
}


.styled-paragraph {
    width: 500px;
    height: 150px;
    border: 1px solid #000;
    box-sizing: border-box;
    text-align: center;
    line-height: 1.5;
    font-size: 15px;
}

#third-section {
    background-color: rgb(44, 110, 88);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    text-align: center;
}

#books {
    margin-bottom: 20px;
    font-size: 100px;
    font-weight: bold;
}

#booklist li {
    font-size: 25px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    line-height: 1.6;
    margin: 5px 0;
}

footer {
    font-size: 25px;
    justify-content: center;
    text-align: center;
}


   

